<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<script src="js/index.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ google_analytics_token }}', 'auto');
  ga('send', 'pageview');
</script>

<title>Conjugate</title>

<header class="red lighten-2">
    <div class="container">
        <div class="row">
            <div class="col offset-l1 offset-m1">
                <h1 class="white-text">Conjugate</h1>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 m8 offset-m2 s12">
                <div class="row">
                    <div class="col l8 m7 s12">
                        <input id="verb" type="text"/>
                        <label for="verb">Verb</label>
                    </div>
                    <div class="col l4 m5 s12">
                        <input type="checkbox" id="translate"/>
                        <label for="translate">From English</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col l8 m7 s12">
                        <div class="input-field">
                            <select id="lang" name="lang">
                                <option value="es">Spanish</option>
                                <option value="ro">Romanian</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4 m6 s8">
                        <button
                                id="btnConjugate"
                                class="btn waves-effect waves-light"
                                type="submit"
                                name="action">
                            Conjugate
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
                <div class="row" id="conjugations">
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer">
    <div class="row">
        <!--<div class="col l2 m4 s6">-->
            <!--<div class="card">-->
                <!--<div class="card-image waves-effect waves-block waves-light">-->
                    <!--<img class="activator" src="img/davidsaltares.jpg">-->
                <!--</div>-->
                <!--<div class="card-content">-->
                <!--<span class="card-title activator grey-text text-darken-4">David Saltares <i-->
                        <!--class="mdi-navigation-more-vert right"></i></span>-->

                    <!--<p><a href="http://saltares.com">Check my blog!</a></p>-->
                <!--</div>-->
                <!--<div class="card-reveal">-->
                <!--<span class="card-title grey-text text-darken-4">David Saltares <i-->
                        <!--class="mdi-navigation-close right"></i></span>-->

                    <!--<p>Hi! I am a Software Developer and made Conjugate in my spare time.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 Copyright <a target="_blank" href="http://saltares.com">David Saltares</a>
        </div>
    </div>
</footer>