<!doctype html>

<link type="text/css" rel="stylesheet" href="lib/materialize/css/materialize.min.css"  media="screen,projection"/>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/materialize/js/materialize.min.js"></script>
<script src="js/index.js"></script>

{% if google_analytics_token %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics_token }}', 'auto');
      ga('send', 'pageview');
    </script>
{% endif %}

<title>Conjugate</title>

<div id="cookies-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Cookie policy</h4>

        <p>We use cookies to remember your last settings and provide you with a better experience.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<header class="red lighten-2">
    <div class="container">
        <div class="row">
            <div class="col offset-l1 offset-m1">
                <h1 class="white-text">Conjugate</h1>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 m8 offset-m2 s12">
                <div class="row">
                    <div class="col l8 m7 s12">
                        <input id="verb" type="text"/>
                        <label for="verb">Verb</label>
                    </div>
                    <div class="col l4 m5 s12">
                        <input type="checkbox" id="translate"/>
                        <label for="translate">From English</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col l8 m7 s12">
                        <div class="input-field">
                            <select id="lang" name="lang">
                                {% for key, value in languages.iteritems() %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4 m6 s8">
                        <button
                                id="btnConjugate"
                                class="btn waves-effect waves-light"
                                type="submit"
                                name="action">
                            Conjugate
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
                <div class="row" id="conjugations">
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2015 Copyright <a target="_blank" href="http://saltares.com">David Saltares</a>
        </div>
    </div>
</footer>